<div class="jumbotron">
    <h1 align="center">Six Flags Over Texas</h1>
    <p class="lead" align="center">This is an online ticket service for Six Flags over Texas.</p>
    <p align="center"><a href="https://www.sixflags.com/overtexas" class="btn btn-danger btn-lg">View Our Website for More Info &raquo;</a></p>
</div>